/* Declaração para Campton Black (900) */
@font-face {
  font-family: "Campton";
  src: url("fonts/CamptonBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Declaração para Campton Bold (700) */
@font-face {
  font-family: "Campton";
  src: url("fonts/CamptonBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Declaração para Campton Bold Italic (700 Itálico) */
@font-face {
  font-family: "Campton";
  src: url("fonts/CamptonBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* --- Variações Adicionais --- */

/* Declaração para Campton SemiBold (600) */
@font-face {
  font-family: "Campton";
  src: url("fonts/CamptonSemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Declaração para Campton Medium (500) */
@font-face {
  font-family: "Campton";
  src: url("fonts/CamptonMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Declaração para Campton Book (Geralmente 400 - Regular) */
@font-face {
  font-family: "Campton";
  src: url("fonts/CamptonBook.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Declaração para Campton Light (300) */
@font-face {
  font-family: "Campton";
  src: url("fonts/CamptonLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;

  --color-base-transp: #0c4f58e1;
  --color-azul: #0c4f58;
  --color-titulo: #134e55;
  --color-azul-s: #3ea8b5;
  --color-laranja: #b99565;
  --color-branco: #fff;
  font-family: "Campton", sans-serif;

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


b{
    font-weight: 800;
}


h1 {
  font-size: 41px;
  font-weight: 500;
  color: var(--color-titulo);
}

h2 {
  font-size: 35px;
}

p,
span {
  font-size: 18px;
  line-height: 30px;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

/*HEADER*/

header {
  background-color: var(--color-azul);
  position: relative;
}

.menu-header {
  padding: 20px 12px;
}

.menu-header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.menu-header .menu nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-header .menu nav ul li a {
  padding: 10px 12px;
  border: 2px solid transparent;
  color: var(--color-branco);
  transition: border-color 0.6s;
}

.menu-header .menu nav ul li a:hover {
  border-color: var(--color-laranja);
}

.toggle-menu-mobile {
  display: none; /* Esconde por padrão no desktop */
  font-size: 1.5rem; /* Ajuste o tamanho do texto ou ícone */
  cursor: pointer;
  z-index: 100; /* Garante que fique acima dos outros elementos */
  color: var(--color-laranja); /* Se você usar um ícone, este será a cor */
}

@media screen and (max-width: 1140px) {
  .menu-header .menu nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-laranja);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 12px;
    z-index: 999;
  }

  .menu-header .menu nav ul li {
    width: 100%;
    text-align: left;
  }

  .menu-header .menu nav ul li a {
    display: block;
    padding: 0px;
    color: var(--color-azul);
  }

  .toggle-menu-mobile {
    display: block;
  }

  .menu-header .menu nav {
    display: flex;
    justify-content: flex-end;
  }

  .menu-header .menu nav.menu-open ul {
    display: flex;
  }
}

/*SECAO HERO*/

#hero {
  background-image: url("/assets/images/banner-hero.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#hero .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 90px 0px;
}

#hero .wrapper .conteudo-hero {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.wrapper-form {
  background-color: var(--color-base-transp);
  padding: 30px 20px 0px;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.head-form {
  color: #ffffff;
  text-align: center;
  padding: 15px 10px;
  margin: -30px -20px 30px;
  border-radius: 8px 8px 0 0;
}

.head-form h4 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 20px;
  color: var(--color-laranja);
}

.head-form span {
  display: block;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0px;
  margin-top: 20px;
}

/* Estilos para o campo de input */
.body-form input[type="text"],
.body-form input[type="email"],
.body-form input[type="tel"] {
  width: 100%;
  padding: 16px 20px;
  border: none;
  background-color: var(--color-azul);
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

.body-form input:focus {
  outline: none;
}

.body-form input[type="text"]::placeholder,
.body-form input[type="email"]::placeholder,
.body-form input[type="tel"]::placeholder {
  color: #fff;
  opacity: 0.4;
}

/* Estilos do Botão de Envio */
.body-form button[type="submit"] {
  width: 100%;
  background-color: var(--color-laranja);
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

/* Estilo para a mensagem de status */
#form-message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
}
.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/*EMPREENDIMENTO*/

#empreendimento {
  padding: 90px 12px;
  padding-top: 30px;
  border-top: 20px solid var(--color-laranja);

  background-color: var(--color-azul);
}

#empreendimento .wrapper {
  display: flex;
  gap: 90px;
  align-items: end;
  color: var(--color-branco);
}

#empreendimento .wrapper .empreendimento-conteudo {
    min-width: 30%;
    margin-bottom: -60px;
    padding-top: 52px;
}

#empreendimento .wrapper .empreendimento-conteudo h2 {
  color: var(--color-laranja);
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 40px;
}

#empreendimento .wrapper .empreendimento-conteudo p {
}

.imagem-empreendimento img {
  width: 760px;
  margin-top: -200px;
  margin-bottom: -170px;
  margin-right: -100px;
}






/*LAZER*/


#lazer{
    padding: 90px 12px;
    background: linear-gradient(
    to right,
    var(--color-azul), 
    #3ea8b5 
);
}

.lazer-conteudo{
    display: flex;
    padding-top: 90px;
    width: 80%;
    gap: 60px;
    margin: 0 auto;
    color: #fff;
}



.espaco-lazer img{
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: -390px;
    display: block;
    width: 100%;
    object-fit: cover;

}

.espaco-lazer-lista{
    padding: 90px 12px;
    padding-top: 390px;
    background-color: var(--color-azul-s);
}

.espaco-lazer-lista .wrapper{
    width: 40%;
}


.espaco-lazer-lista .wrapper ul{
    display: flex;
    justify-content: space-between;
}